# ETL - Wine Reviews

## Import Libraries

In [4]:
import pandas as pd
import numpy as np
from functions import read_csv_files, read_json_files

## Read Datasets

In [7]:
directory_path = 'data/'

df_csv = read_csv_files(directory_path)
df_json = read_json_files(directory_path)

df = pd.concat([df_csv, df_json], ignore_index=True)
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Explore the Dataset

In [8]:
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [12]:
df.shape

(410872, 13)

In [16]:
df.describe(include='all')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,410741,410872,290207,410872.000000,379185.000000,410741,343318,161975,207454,197516,259942,410870,410872
unique,50,169430,47239,NaN,NaN,490,1332,18,19,15,118840,756,19186
top,US,"Still showing its tannins, this wine is develo...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Williams Selyem
freq,171405,8,6770,NaN,NaN,117002,15169,35187,51028,51028,22,40835,796
mean,NaN,NaN,NaN,88.241898,34.555615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.119719,39.400606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,86.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,90.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410872 entries, 0 to 410871
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                410741 non-null  object
 1   description            410872 non-null  object
 2   designation            290207 non-null  object
 3   points                 410872 non-null  int64
 4   price                  379185 non-null  float64
 5   province               410741 non-null  object
 6   region_1               343318 non-null  object
 7   region_2               161975 non-null  object
 8   taster_name            207454 non-null  object
 9   taster_twitter_handle  197516 non-null  object
 10  title                  259942 non-null  object
 11  variety                410870 non-null  object
 12  winery                 410872 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 40.8+ MB

In [17]:
df.isnull().sum()

country                     131
description                   0
designation              120665
points                        0
price                     31687
province                    131
region_1                  67554
region_2                 248897
taster_name              203418
taster_twitter_handle    213356
title                    150930
variety                       2
winery                        0
dtype: int64

In [18]:
df.duplicated().sum()

193033